{{ define "title" }} Error {{ end }}
{{ define "content" }}
    <div class="ui text container">
        <div class="ui top attached red segment inverted">
            Error: {{ .Code }}
        </div>
        <div class="ui bottom attached segment">
            {{ .Message }}
        </div>
    </div>
{{ end }}