<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{template "title"}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.5/semantic.min.css"/>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.5/semantic.min.js"></script>
    </head>
    <body class="ui text container">
        <div class="ui text menu">
            <div class="logo item">
                <h2 class="ui red header">Flick Radio</div>
            </div>
        </div>
        <div class="ui red divider"></div>
        {{ template "content" .Content }}
    </body>
</html>