{{ define "content" }}
<div onload="Dash.createAll()">

    <audio preload="none" controls id="player">
        <source src="https://flickradio-mccolljr.c9.io/media/songs/17/play.mpd" />
    </audio>
    <!--<input type='text' id="songnum" />
    <button onclick="changeSong()">change</button>
        <button onclick="player.play()">play</button>
        <button onclick="player.pause()">pause</button> -->
    {{ range $song := .Songs }}
    <button onclick="changeSong('{{$song.SID}}')">{{$song.Name}}</button><br/>
    {{end}}
    <script src="https://cdn.dashjs.org/latest/dash.all.js"></script>
    <script>
        var player = (function() {
            var url = "https://flickradiodev-mccolljr.c9.io/media/songs/0/play.mpd";
            var elem = document.querySelector("#player");
            var context = new Dash.di.DashContext();
            var player = new MediaPlayer(context);
            player.startup();
            player.attachView(elem);
            player.attachSource(url);
            return player;
        })();

        function changeSong(sguid) {
            var newsrc = "https://flickradiodev-mccolljr.c9.io/media/songs/" + sguid + "/play.mpd";
            player.attachSource(newsrc);
            return newsrc;
        }
    </script>
</div>
{{end}}
{{define "title"}}
Player
{{end}}