{{ define "content" }}
<div class="ui top attached inverted red segment">
    <div class="header">
        Upload a song...
    </div>
</div>
<div class="ui bottom attached segment">
    <form class="ui error form" name="song_upload" action="/upload" method="post" enctype="multipart/form-data">
        <div class="disabled field">signed in as {{.Artist}}</div>
        <div class="ui error message"></div>
        <input type="hidden" name="xsspro" value="<will be secret string>" readonly>
        <div class="field">
            <label>Song Title</label>
            <input type="text" name="song_title">
        </div>
        <div class="field">
            <label>Genre</label>
            <select class="ui search selection dropdown" name="song_genre">
                <option>choose a genre</option>
                {{ range $index, $element := .Genres }}
                <option value={{$index}}>{{ $element }}</option>
                {{ end }}
            </select>
        </div>
        <div class="field">
            <label>Tags</label>
            <input type="text" name="song_tags">
        </div>
        <div class="field">
            <label>File</label>
            <input type="file" name="song_file">
        </div>
        <input type="submit" value="Upload" class="ui red button">
    </form>
</div>

<script>
    ;
    $(".ui.dropdown, select").dropdown();
    $(document.forms["song_upload"]).form({
        fields: {
            song_file: {
                identifier: "song_file",
                rules: [
                    {
                        type: "empty",
                        prompt: "Please choose a file to upload"
                    },
                    {
                        type: "regExp[^.+\\.(mp3|mp4|m4a|flac|wav)$]",
                        prompt: "File must be in one of these formats: <ul>"+
                                "<li> mp3 </li>" +
                                "<li> mp4 </li>" +
                                "<li> m4a </li>" +
                                "<li> wav </li>" +
                                "<li> flac </li>" +
                                "</ul>"
                    }
                ]
            },
            song_title: {
                identifier: "song_title",
                rules: [
                    {
                        type: "empty",
                        prompt: "Please enter a song title"
                    }
                ]
            },
            song_genre: {
                identifier: "song_title",
                rules: [
                    {
                        type: "empty",
                        prompt: "Please choose a genre"
                    }
                ]
            },
            
        }
    });
</script>
{{ end }} {{ define "title" }} Upload Song {{end}}